<!-- Page Content-->
<header class="bg-primary py-4 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
      </div>
      <div class="col-lg-10">
        <h1 class="display-5 text-white mt-5 mb-2">Sistema para Secretaria EBD</h1>
        <p class="lead mb-5 text-white">Sistema destinado para cadastro e empréstimos de Revistas EBD.</p>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/membros.svg" />
        <div class="card-body">
          <h4 class="card-title">Cadastro de Membros</h4>
          <p class="card-text">Cadastre membros da igreja.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-lg btn-block">Cadastrar</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/revista.svg" />
        <div class="card-body">
          <h4 class="card-title">Cadastro de Revistas</h4>
          <p class="card-text">Cadastre revistas EBD para empréstimos ou pedidos.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-lg btn-block">Cadastrar</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/emprestimo.svg" />
        <div class="card-body">
          <h4 class="card-title">Cadastro de Empréstimos</h4>
          <p class="card-text">Cadastre empréstimos de revistas dos membros.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-lg btn-block">Cadastrar</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/pedidosEBD.svg" />
        <div class="card-body">
          <h4 class="card-title">Cadastro de Pedidos de Revistas</h4>
          <p class="card-text">Cadastre pedidos de revistas EBD.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-lg btn-block">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Content-->
