<div class="container main-container">
  <form novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm">
    <h1>Cadastro</h1>
    <h4>Crie sua conta</h4>
    <hr />

    <div class="alert alert-danger" *ngIf="errors.length > 0">
      <h6 id="" msgRetorno>Opa! Alguma coisa não deu certo:</h6>
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Nome</label>
      <div class="col-md-10">
        <input
          class="form-control"
          id="nomeUsuario"
          type="text"
          placeholder="Nome do Usuário (requerido)"
          formControlName="nomeUsuario"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Senha</label>
      <div class="col-md-10">
        <input
          class="form-control"
          id="password"
          type="password"
          placeholder="Senha (requerido)"
          formControlName="password"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Confirme a Senha</label>
      <div class="col-md-10">
        <input
          class="form-control"
          id="rePassword"
          type="password"
          placeholder="Confirme a Senha (requerido)"
          formControlName="rePassword"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span
          ><button
            class="btn btn-success"
            id="Registrar"
            [disabled]="!cadastroForm.valid"
            type="submit"
          >
            Registrar
          </button></span
        >
      </div>
    </div>
  </form>
</div>
